*{
	margin:0;
	padding:0;
	font-family: 'Montserrat', sans-serif;
}

h1{
	text-align: center;
	padding:3%;
}

.paragraph{
	font-size:110%;
	text-align: justify;
	padding:2%;
	margin-left:3%;
	margin-right:3%;
	line-height: 30px;
}

.soccerpic{
	text-align: center;
	width:400px;
	height:300px;
	object-fit: cover;
}

.column{
	display: flex;
	flex-direction: row;
	flex-wrap:wrap;
	justify-content: space-evenly;
	text-align: center;
	margin:2%;
}

.column > div{
	width:50%;
}

.text{
	text-align: justify;
	margin-left:0;
	margin-right:0;
	font-size:110%;
	text-align: justify;
}

.text > p{
	width:85%;
	line-height: 30px;
}

